body {
    text-align: center;
}

form {
    margin-left: auto;
    margin-right: auto;
}

header.div {
    vertical-align: middle;
}

#back-button {
    align-self: flex-start;
}

#title {
    font-size: 50pt;
}

#left {
    position: absolute;
    left: 0px;
}

#edit-text {
    width: 1000px;
    height: 500px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#submit {
    float: right;
}